<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="cs">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Systém pro distribuci ochranných pomůcek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../../../static/css/customStyles.css" th:href="@{/css/customStyles.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link href="../../../static/css/customMediaQueries.css" th:href="@{/css/customMediaQueries.css}" rel="stylesheet"
          type="text/css" media="screen"/>
</head>
<body>
<header class="card-header hlavicka">
    <h1>
        <a href="/" th:href="@{/}" sec:authorize="!isAuthenticated()">Distribuce ochranných pomůcek</a>
        <a href="/showProtectiveEquipments" th:href="@{/showProtectiveEquipments}"
           sec:authorize="hasRole('ROLE_GlobalAdmin')">Distribuce ochranných pomůcek</a>
        <a href="/showRegion" th:href="@{/showRegion}" sec:authorize="hasAnyRole('ROLE_RegionAdmin','ROLE_RegionUser')">Distribuce
            ochranných pomůcek</a>
        <a href="/showOrganization" th:href="@{/showOrganization}"
           sec:authorize="hasAnyRole('ROLE_OrganizationAdmin','ROLE_OrganizationUser')">Distribuce
            ochranných pomůcek</a>
    </h1>
</header>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navigace:</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav flex-column flex-sm-row flex-md-row">
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/" th:href="@{/}" class="nav-link"
                                                                           title="Zobrazí přihlašovací stránku.">Přihlášení</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_RegionAdmin','ROLE_RegionUser')"><a
                        href="/showRegion"
                        th:href="@{/showRegion}"
                        class="nav-link"
                        title="Zobrazí váš kraj.">Kraj</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_GlobalAdmin')"><a href="/showProtectiveEquipments"
                                                                                    th:href="@{/showProtectiveEquipments}"
                                                                            class="nav-link"
                                                                            title="Zobrazí definice položek skladů.">Definice
            položek skladů</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_GlobalAdmin')"><a href="/showRegions"
                                                                            th:href="@{/showRegions}" class="nav-link"
                                                                            title="Zobrazí kraje.">Kraje</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_RegionAdmin','ROLE_RegionUser')"><a
                href="/showRegionProtectiveEquipments"
                th:href="@{/showRegionProtectiveEquipments}"
                class="nav-link"
                title="Zobrazí množství položek ve vašem kraji.">Skladová evidence kraje</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_RegionAdmin','ROLE_RegionUser')"><a
                href="/showRegionProtectiveEquipmentStatusHistory"
                th:href="@{/showRegionProtectiveEquipmentStatusHistory}"
                class="nav-link"
                title="Zobrazí historii všech změn položek ve skladu kraje.">Historie změny stavu skladu</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_RegionAdmin')"><a href="/showRegionUsers"
                                                                               th:href="@{/showRegionUsers}"
                                                                               class="nav-link"
                                                                               title="Zobrazí uživatele vašeho kraje.">Uživatelé
            kraje</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_RegionAdmin','ROLE_RegionUser')"><a
                href="/showRegionOrganizations"
                th:href="@{/showRegionOrganizations}"
                class="nav-link"
                title="Zobrazí organizace vašeho kraje.">Organizace v kraji
        </a>
        </li>

        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_RegionAdmin','ROLE_RegionUser')"><a
                href="/showRegionProtectiveEquipmentRequests"
                th:href="@{/showRegionProtectiveEquipmentRequests}"
                class="nav-link"
                title="Zobrazí žádosti o ochranné pomůcky organizace podané kraji.">Žádosti ochranných pomůcek od
            organizací kraje</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_RegionAdmin','ROLE_RegionUser')"><a
                href="/showRegionProtectiveEquipmentTransfers"
                th:href="@{/showRegionProtectiveEquipmentTransfers}"
                class="nav-link"
                title="Zobrazí dodávky ochranných pomůcek v kraji.">Dodávky ochranných pomůcek v kraji</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_OrganizationAdmin','ROLE_OrganizationUser')"><a
                href="/showOrganization"
                th:href="@{/showOrganization}"
                class="nav-link"
                title="Zobrazí údaje vaší organizace.">Údaje organizace
        </a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_OrganizationAdmin')"><a href="/showOrganizationUsers"
                                                                                     th:href="@{/showOrganizationUsers}"
                                                                                     class="nav-link"
                                                                                     title="Zobrazí uživatele vaší organizace.">Uživatelé
            organizace
        </a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_OrganizationAdmin','ROLE_OrganizationUser')"><a
                href="/showOrganizationProtectiveEquipments"
                th:href="@{/showOrganizationProtectiveEquipments}"
                class="nav-link"
                title="Zobrazí množství položek ve vaší organizaci.">Skladová evidence organizace</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_OrganizationAdmin','ROLE_OrganizationUser')"><a
                href="/showOrganizationProtectiveEquipmentStatusHistory"
                th:href="@{/showOrganizationProtectiveEquipmentStatusHistory}"
                class="nav-link"
                title="Zobrazí historii změn množství položek ve skladu.">Historie změn stavu skladu</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_OrganizationAdmin')"><a
                href="/showOrganizationProtectiveEquipmentRequests"
                th:href="@{/showOrganizationProtectiveEquipmentRequests}"
                class="nav-link"
                title="Zobrazí žádosti o ochranné pomůcky organizace podané kraji.">Žádosti ochranných pomůcek kraji</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_OrganizationAdmin','ROLE_OrganizationUser')"><a
                href="/showOwnOrganizationProtectiveEquipmentRequests"
                th:href="@{/showOwnOrganizationProtectiveEquipmentRequests}"
                class="nav-link"
                title="Zobrazí vlastní žádosti o ochranné pomůcky organizace podané kraji.">Vlastní žádosti ochranných
            pomůcek kraji</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_OrganizationAdmin','ROLE_OrganizationUser')"><a
                href="/showOrganizationProtectiveEquipmentTransfers"
                th:href="@{/showOrganizationProtectiveEquipmentTransfers}"
                class="nav-link"
                title="Zobrazí dodávky ochranných pomůcek od kraje.">Dodávky ochranných pomůcek</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_GlobalAdmin')"><a href="/showUsers" th:href="@{/showUsers}"
                                                                            class="nav-link"
                                                                            title="Zobrazí seznam všech existujících účtů.">Účty</a>
        </li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/showUserInfo"
                                                                          th:href="@{/showUserInfo}"
                                                                          class="nav-link"
                                                                          title="Zobrazí informace o vašem účtu.">Účet</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/logout" th:href="@{/logout}"
                                                                          class="nav-link"
                                                                          title="Odhlásí vás z vašeho účtu.">Odhlášení</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div layout:fragment="content" class="container-fluid">
    </div>
</main>
<footer class="card-footer paticka"> Vytvořeno v roce 2022,
    pro studijní účely.
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="../../../static/js/ConfirmAction.js" th:src="@{/js/ConfirmAction.js}"></script>
<script src="../../../static/js/CalculateNewAmountOfProtectiveEquipments.js"
        th:src="@{/js/CalculateNewAmountOfProtectiveEquipments.js}"></script>
<script src="../../../static/js/FormFunctions.js" th:src="@{/js/FormFunctions.js}"></script>
</body>
</html>