<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Přidání ochranné pomůcky</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Přidání nové ochranné pomůcky</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveProtectiveEquipment" th:action="@{/saveProtectiveEquipment}" th:object="${protectiveEquipment}"
          method="post">
        <fieldset class="form-group">
            <label for="name" class="col-form-label">Název: </label>
            <input type="text" class="form-control" name="name" id="name" th:field="*{name}" required="required"
                   maxlength="50"/>
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
            <label for="description" class="col-form-label">Popis: </label>
            <textarea name="description" class="form-control" id="description" th:field="*{description}"
                      required="required" maxlength="100"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}"></p>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Přidat"/>
            <a href="/showProtectiveEquipments" th:href="@{/showProtectiveEquipments}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>