<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Přidání položek do skladu</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Přidání položek do skladu</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveAddedProtectiveEquipmentAmount" th:action="@{/saveAddedProtectiveEquipmentAmount}"
          th:object="${protectiveEquipmentStatus}" method="post">
        <fieldset class="form-group">
            <p>Název: <span th:text="${protectiveEquipmentStatus.protectiveEquipment.name}"></span></p>
            <p>Původní množství: <span id="oldAmount" th:text="${protectiveEquipmentStatus.quantity}"></span></p>
            <p class="newAmount">Nové množství: <span id="newAmount"
                                                      th:text="${protectiveEquipmentStatus.quantity}"></span></p>
            <noscript><p>Nelze zde vypočítat a zobrazit aktuální nové množství ochranných pomůcek, jelikož máta vypnutý
                Javascript. Pro výpočet aktuálního novéh množství si ho prosím zapněte.</p></noscript>
            <label for="protectiveEquipmentAmount" class="col-form-label">Počet položek k přidání: </label>
            <input type="number" min="1" class="form-control" name="protectiveEquipmentAmount"
                   id="protectiveEquipmentAmount"
                   required="required"/>
            <label for="billId" class="col-form-label">Číslo dokladu:</label>
            <input class="form-control" type="number" min="1" name="billId" id="billId" required="required"/>
            <label for="comment" class="col-form-label">Odůvodnění:</label>
            <textarea name="comment" id="comment" class="form-control" maxlength="500" required="required"></textarea>
            <input type="hidden" name="protectiveEquipmentStatusId" id="protectiveEquipmentStatusId" th:field="*{id}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Přidat"/>
            <a href="/showRegionProtectiveEquipments" th:href="@{/showRegionProtectiveEquipments}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>