<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Výběr ochranné pomůcky</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Ochranné pomůcky</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form class="row row-cols-auto align-items-center mb-3" action="/addRequestProtectiveEquipment"
          th:action="@{/addRequestProtectiveEquipment}"
          method="get">
        <fieldset class="form-group">
            <legend>Vyhledat:</legend>
            <label for="protectiveEquipmentName" class="col-form-label">Název (ponechte prázdný, pokud chcete zobrazit
                vše): </label>
            <input type="text" placeholder="Zadejte název ochranné pomůcky, kterou chcete najít." class="form-control"
                   name="protectiveEquipmentName" id="protectiveEquipmentName" th:value="${protectiveEquipmentName}"
                   maxlength="50"/>
            <input type="hidden" name="protectiveEquipmentRequestId" th:value="${protectiveEquipmentRequestId}"/>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" id="searchProtectiveEquipments" class="btn btn-primary" value="Vyhledat"
                   title="Vyhledá ochranné pomůcky podle zadaného názvu. Nebo zobrazí všechny, pokud není název vyplněný."/>
        </fieldset>
    </form>
    <h2>Výběr:</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Název</th>
                <th>Popis</th>
                <th>Výběr</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="protectiveEquipment :${protectiveEquipments}">
                <td><p th:text="${protectiveEquipment.name}"></p></td>
                <td><p th:text="${protectiveEquipment.description}"></p></td>
                <td>
                    <form action="/saveAddedProtectiveEquipmentToRequest"
                          th:action="@{/saveAddedProtectiveEquipmentToRequest}"
                          method="post">
                        <fieldset class="form-group">
                            <label for="quantity" class="col-form-label">Množství: </label>
                            <input type="number" min="1" class="form-control" name="quantity" id="quantity"
                                   required="required"/>
                            <input type="hidden" name="protectiveEquipmentRequestId"
                                   th:value="${protectiveEquipmentRequestId}"/>
                            <input type="hidden" name="protectiveEquipmentId" th:value="${protectiveEquipment.id}"/>
                        </fieldset>
                        <fieldset class="form-group mt-3 mb-3">
                            <input type="submit" class="btn btn-primary" value="Přidat"/>
                        </fieldset>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <th:block th:each="page:${pages}">
            <li th:if="${page==currentPage}" class="page-item active">
                <a class=" page-link"
                   th:href="@{/addRequestProtectiveEquipment(currentPage=${page},protectiveEquipmentRequestId=${protectiveEquipmentRequestId},protectiveEquipmentName=${protectiveEquipmentName})}"
                   href="/addRequestProtectiveEquipment" th:text="${page+1}">1</a>
            </li>
            <li th:if="${page!=currentPage}" class="page-item">
                <a th:if="page!=currentPage" class="page-link"
                   th:href="@{/addRequestProtectiveEquipment(currentPage=${page},protectiveEquipmentRequestId=${protectiveEquipmentRequestId})}"
                   href="/addRequestProtectiveEquipment" th:text="${page+1}">1</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>