<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Odpověď na žádost</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Odpověď na žádost</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveAnsweredProtectiveEquipmentRequest"
          th:action="@{/saveAnsweredProtectiveEquipmentRequest}"
          th:object="${protectiveEquipmentRequest}" method="post">
        <fieldset class="form-group">
            <th:block th:if="${hasEnoughProtectiveEquipments}">
                <label for="billId" class="col-form-label">Číslo dokladu (vyplňte pouze v případě přijetí
                    žádosti):</label>
                <input class="form-control" type="number" name="billId" id="billId"/>
            </th:block>
            <label for="regionMessage" class="col-form-label">Zpráva: </label>
            <textarea class="form-control" name="regionMessage" id="regionMessage" th:field="*{regionMessage}"
                      required="required" maxlength="500"></textarea>
            <p th:if="${#fields.hasErrors('regionMessage')}" th:errorclass="error" th:errors="*{regionMessage}"></p>
            <label th:if="${hasEnoughProtectiveEquipments}" class="form-check-label" for="true">Přijmout</label>
            <label th:if="${!hasEnoughProtectiveEquipments}" class="form-check-label" for="trueDisabled"
                   title="Nedostatek ochranných pomůcek pro potvrzení žádosti. Pro potvrzení prosím snižte počet schválených pomůcek anebo doplňte váš sklad.">Přijmout</label>
            <input th:if="${hasEnoughProtectiveEquipments}" type="radio" class="form-check-input" id="true" value="true"
                   name="approved" required="required">
            <input th:if="${!hasEnoughProtectiveEquipments}" type="radio" class="form-check-input" value="true"
                   name="approved" id="trueDisabled" required="required" disabled="disabled">
            <label class="col-check-label" for="false">Zamítnout</label>
            <input type="radio" class="form-check-input" id="false" value="false" name="approved" required="required"/>
            <input type="hidden" name="id" id="id" th:field="*{id}"/>
            <input type="hidden" name="hasEnoughProtectiveEquipments" th:value="${hasEnoughProtectiveEquipments}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Odpovědět"/>
            <a href="/showDetailedRegionProtectiveEquipmentRequest"
               th:href="@{/showDetailedRegionProtectiveEquipmentRequest(protectiveEquipmentRequestId=${protectiveEquipmentRequest.id})}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>