<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Změnit údaje uživatele</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Změnit údaje uživatele: <span th:text="${userInfo.user.login}"></span></h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveOtherChangedUserInfo" th:action="@{/saveOtherChangedUserInfo}" th:object="${userInfo}"
          method="post">
        <fieldset class="form-group">
            <label for="name" class="col-form-label">Jméno: </label>
            <input type="text" name="name" id="name" class="form-control shortInputWidth" th:field="*{name}"
                   required="required" maxlength="50"/>
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
            <label for="surname" class="col-form-label">Přijmení: </label>
            <input type="text" name="surname" id="surname" class="form-control shortInputWidth" th:field="*{surname}"
                   required="required" maxlength="50"/>
            <p th:if="${#fields.hasErrors('surname')}" th:errorclass="error" th:errors="*{surname}"></p>
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" name="email" id="email" class="form-control shortInputWidth" th:field="*{email}"
                   required="required" maxlength="50"/>
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
            <input type="hidden" name="id" th:field="*{id}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Změnit údaje"/>
            <a sec:authorize="hasRole('ROLE_GlobalAdmin')" href="/showUsers" th:href="@{/showUsers}"
               class="btn btn-secondary">Storno</a>
            <a sec:authorize="hasRole('ROLE_RegionAdmin')" href="/showRegionUsers" th:href="@{/showRegionUsers}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>