<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upravení organizace</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Upravení organizace</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveChangedOrganization" th:action="@{/saveChangedOrganization}" th:object="${organization}"
          method="post">
        <fieldset class="form-group">
            <label for="name" class="col-form-label">Název:</label>
            <input type="text" class="form-control" name="name" id="name" th:field="*{name}" required="required"
                   maxlength="100"/>
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
            <label for="street" class="col-form-label">Název ulice organizace:</label>
            <input type="text" name="street" class="form-control" id="street" th:field="*{street}"
                   required="required" maxlength="100"/>
            <p th:if="${#fields.hasErrors('street')}" th:errorclass="error" th:errors="*{street}"></p>
            <label for="cityName" class="col-form-label">Název města organizace:</label>
            <input type="text" name="cityName" id="cityName" class="form-control" th:field="*{city.name}"
                   required="required" maxlength="100"/>
            <p th:if="${#fields.hasErrors('city.name')}" th:errorclass="error" th:errors="*{city.name}"></p>
            <label for="cityPsc" class="col-form-label">PSČ města organizace (bez mezery):</label>
            <input type="number" name="cityPsc" id="cityPsc" class="form-control" th:field="*{city.psc}"
                   required="required" min="1" max="99999"/>
            <p th:if="${#fields.hasErrors('city.psc')}" th:errorclass="error" th:errors="*{city.psc}"></p>
            <input type="hidden" name="region" th:field="*{region}"/>
            <input type="hidden" name="id" th:field="*{id}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Změnit"/>
            <a href="/showRegionOrganizations" th:href="@{/showOrganization}" class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>