<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Změna množství ochranných pomůcek</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Změna množství ochranných pomůcek</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveChangedRegionProtectiveEquipmentAmount"
          th:action="@{/saveChangedRegionProtectiveEquipmentAmount}"
          th:object="${protectiveEquipmentStatus}" method="post">
        <fieldset class="form-group">
            <p>Název: <span th:text="${protectiveEquipmentStatus.protectiveEquipment.name}"></span></p>
            <label for="quantity" class="col-form-label">Množství: </label>
            <input type="number" min="0" class="form-control" name="quantity" id="quantity" th:field="*{quantity}"
                   required="required"/>
            <p th:if="${#fields.hasErrors('quantity')}" th:errorclass="error" th:errors="*{quantity}"></p>
            <label for="eventComment" class="col-form-label">Odůvodnění změny:</label>
            <textarea name="eventComment" id="eventComment" class="form-control" maxlength="500"
                      required="required"></textarea>
            <input type="hidden" name="id" id="id" th:field="*{id}"/>
            <input type="hidden" name="protectiveEquipment" id="protectiveEquipment" th:field="*{protectiveEquipment}">
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Změnit"/>
            <a href="/showRegionProtectiveEquipments" th:href="@{/showRegionProtectiveEquipments}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>