<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Změnit uživatelské jméno</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Změnit uživatelské jméno</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveChangedUserLogin" th:action="@{/saveChangedUserLogin}"
          method="post">
        <fieldset class="form-group">
            <p th:text="${currentLogin}"></p>
            <label for="newLogin" class="col-form-label">Nové uživatelské jméno:</label>
            <input type="text" name="newLogin" id="newLogin" class="form-control shortInputWidth" required="required"
                   maxlength="50"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Změnit přihlašovací jméno"
                   title="Změní vaše přihlašovací jméno a odhlásí vás ze systému."/>
            <a href="/showUserInfo" th:href="@{/showUserInfo}" class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
    <p class="alert-danger">Upozornění: Změna uživatelského jména vás automaticky odhlásí ze systému.</p>
</div>
</body>
</html>