<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Změna množství schválených ochranných pomůcek žádosti</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Změna množství ochranných pomůcek žádosti</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveChangedRequestProtectiveEquipmentApprovedQuantity"
          th:action="@{/saveChangedRequestProtectiveEquipmentApprovedQuantity}"
          th:object="${requestProtectiveEquipment}" method="post">
        <fieldset class="form-group">
            <p>Číslo žádosti: <span th:text="${requestProtectiveEquipment.protectiveEquipmentRequest.id}"></span></p>
            <p>Název: <span th:text="${requestProtectiveEquipment.protectiveEquipment.name}"></span></p>
            <p>Současné množství ochranných pomůcek kraje: <span th:text="${protectiveEquipmentStatus.quantity}"
                                                                 id="oldAmount"></span></p>
            <p>Počet žádaných ochranných pomůcek: <span th:text="${requestProtectiveEquipment.quantity}"></span></p>
            <p>Zbývající množství ochranných pomůcek kraje po odeslání schváleného množství: <span
                    id="remainingProtectiveEquipmentStatusQuantity"
                    th:text="${protectiveEquipmentStatus.getQuantity()-requestProtectiveEquipment.approvedQuantity}"></span>
            </p>
            <noscript><p>Pro vypočítání nového stavu ochranných pomůcek kraje si prosím zapněte Javascript.</p>
            </noscript>
            <label for="approvedQuantity" class="col-form-label">Schválené množství: </label>
            <input type="number" min="0" th:max="${requestProtectiveEquipment.quantity}"
                   class="form-control shortInputWidth"
                   name="approvedQuantity" id="approvedQuantity" th:field="*{approvedQuantity}"
                   required="required"/>
            <p th:if="${#fields.hasErrors('approvedQuantity')}" th:errorclass="error"
               th:errors="*{approvedQuantity}"></p>
            <input type="hidden" name="id" id="id" th:field="*{id}"/>
            <input type="hidden" th:field="*{quantity}"/>
            <input type="hidden" th:field="*{protectiveEquipment}"/>
            <input type="hidden" th:field="*{protectiveEquipmentRequest}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Změnit"/>
            <a href="/showDetailedRegionProtectiveEquipmentRequest"
               th:href="@{/showDetailedRegionProtectiveEquipmentRequest(protectiveEquipmentRequestId=${requestProtectiveEquipment.protectiveEquipmentRequest.id})}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>