<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Změnit heslo</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Změnit heslo</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveChangedUserPassword" th:action="@{/saveChangedUserPassword}"
          method="post">
        <fieldset class="form-group">
            <p th:text="${currentLogin}"></p>
            <label for="currentPassword" class="col-form-label">Současné heslo:</label>
            <input type="password" name="currentPassword" id="currentPassword" class="form-control"
                   required="required" maxlength="500"/>
            <label for="newPassword" class="col-form-label">Nové heslo:</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" required="required"
                   maxlength="500"/>
            <label for="newPasswordAgain" class="col-form-label">Nové heslo znova:</label>
            <input type="password" name="newPasswordAgain" id="newPasswordAgain" class="form-control"
                   required="required" maxlength="500"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Změnit heslo"/>
            <a href="/showUserInfo" th:href="@{/showUserInfo}" class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>