<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vytvořit účet administrátora organizace</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1 th:inline="text">Vytvořit účet administrátora organizace: [[${organization.name}]]</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveOrganizationAdminUser" th:action="@{/saveOrganizationAdminUser}" th:object="${userInfo}"
          method="post">
        <fieldset class="form-group">
            <label for="login" class="col-form-label">Přihlašovací jméno:</label>
            <input type="text" class="form-control shortInputWidth" name="login" id="login" th:field="*{user.login}"
                   required="required" maxlength="50"/>
            <p th:if="${#fields.hasErrors('user.login')}" th:errorclass="error" th:errors="*{user.login}"></p>
            <input type="hidden" name="password" class="form-control" id="password" th:field="*{user.password}"
                   required="required" th:value="123" value="123">
            <p th:if="${#fields.hasErrors('user.password')}" th:errorclass="error" th:errors="*{user.password}"></p>
            <label for="name" class="col-form-label">Jméno: </label>
            <input type="text" name="name" id="name" class="form-control shortInputWidth" th:field="*{name}"
                   required="required" maxlength="50"/>
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
            <label for="surname" class="col-form-label">Přijmení: </label>
            <input type="text" name="surname" id="surname" class="form-control shortInputWidth" th:field="*{surname}"
                   required="required" maxlength="50"/>
            <p th:if="${#fields.hasErrors('surname')}" th:errorclass="error" th:errors="*{surname}"></p>
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" name="email" id="email" class="form-control shortInputWidth" th:field="*{email}"
                   required="required" maxlength="50"/>
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
            <input type="hidden" name="organization" th:field="*{user.organization}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Vytvořit účet"/>
            <a href="/showRegionOrganizationUsers"
               th:href="@{/showRegionOrganizationUsers(organizationId=${organization.id})}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>