<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zablokování uživatele v organizaci</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Zablokování uživatele v organizaci</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveDisabledUser"
          th:action="@{/saveDisabledOrganizationUser}"
          th:object="${appUserDisabledInfo}" method="post">
        <fieldset class="form-group">
            <p>Uživatel: <span th:text="${user.login}"></span></p>
            <label for="reason" class="col-form-label">Odůvodnění: </label>
            <textarea class="form-control" name="reason" id="reason" th:field="*{reason}"
                      required="required" maxlength="500"></textarea>
            <p th:if="${#fields.hasErrors('reason')}" th:errorclass="error" th:errors="*{reason}"></p>
            <input type="hidden" name="userId" th:value="${user.id}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Zablokovat"/>
            <a href="/showUsers"
               th:href="@{/showOrganizationUsers}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>