<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chyba</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Chyba</h1>
    <p>Omlouváme se za vzniklé potíže, ale došlo k chybě. Při kontaktu technické podpory jí prosím sdělte následující
        údaje.:</p>
    <p>Kód chyby.: <span th:text="${status}"></span></p>
    <p>Obsah chyby.: <span th:text="${error}"></span></p>
    <p>Pro pokračování zkuste přejít na jinou část aplikace prostřednictvím navigace. Nebo se vraťte zpět na <a href="/"
                                                                                                                th:href="@{/}">hlavní
        stránku.</a></p>
</div>
</body>
</html>