<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exportování historie změny stavu skladu</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Exportování historie změny stavu skladu</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form
            action="/exportOrganizationProtectiveEquipmentStatusChangeEvents"
            th:action="@{/exportOrganizationProtectiveEquipmentStatusChangeEvents}" method="post">
        <fieldset class="mb-3">
            <legend>Exportovat do souboru</legend>
            <label for="dateFrom" class="col-form-label">Datum od:</label>
            <input type="date" id="dateFrom" name="dateFrom" class="form-control mediumInputWidth"
                   title="Klikněte pro výběr data."/>
            <label for="dateTo" class="col-form-label">Datum do:</label>
            <input type="date" id="dateTo" name="dateTo" class="form-control mediumInputWidth"
                   title="Klikněte pro výběr data."/>
            <label for="protectiveEquipmentRequestStatusChangeEventTypeId2" class="col-form-label">Typ:</label>
            <select class="form-select mediumInputWidth" name="protectiveEquipmentRequestStatusChangeEventTypeId"
                    id="protectiveEquipmentRequestStatusChangeEventTypeId2">
                <option value="0">Vše</option>
                <option th:each="protectiveEquipmentStatusChangeEventType:${protectiveEquipmentStatusChangeEventTypes}"
                        th:value="${protectiveEquipmentStatusChangeEventType.id}"
                        th:text="${protectiveEquipmentStatusChangeEventType.name}"></option>
            </select>
        </fieldset>
        <fieldset class="mb-3">
            <input type="submit" class="btn btn-primary me-3" value="Exportovat"/>
            <a href="/showRegionProtectiveEquipmentStatusHistory"
               th:href="@{/showOrganizationProtectiveEquipmentStatusHistory}" class="btn btn-info">Zpět</a>
        </fieldset>
    </form>
</div>
</body>
</html>