<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Přihlášení</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Přihlášení</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/doLogin" th:action="@{/doLogin}"
          method="post">
        <fieldset class="form-group">
            <label for="login" class="col-form-label">Přihlašovací jméno:</label>
            <input type="text" class="form-control shortInputWidth" name="login" id="login" required="required"/>
            <label for="password" class="col-form-label">Heslo:</label>
            <input type="password" name="password" class="form-control shortInputWidth" id="password"
                   required="required"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Přihlásit"/>
        </fieldset>
    </form>
</div>
</body>
</html>