<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:inline="text">Uživatelé organizace</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1 th:inline="text">Uživatelé organizace</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form class="row row-cols-auto align-items-center mb-3" action="/showOrganizationUsers"
          th:action="@{/showOrganizationUsers}"
          method="get">
        <fieldset class="form-group">
            <legend>Vyhledat uživatele (ponechte oba údaje prázdné, pokud chcete zobrazit všechny):</legend>
            <label for="name" class="col-form-label">Jméno: </label>
            <input type="text" placeholder="Zadejte jméno uživatele, kterého chcete najít."
                   class="form-text form-control"
                   name="name" id="name" th:value="${name}" maxlength="50"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="surname" class="col-form-label mt-lg-5">Přijmení:</label>
            <input type="text" class="form-control" name="surname" id="surname"
                   placeholder="Zadejte přijmení uživatele, kterého chcete najít." th:value="${surname}"
                   maxlength="50"/>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" id="searchOrganizationUsers" class="btn btn-primary" value="Vyhledat"/>
        </fieldset>
    </form>
    <h2>Možnosti</h2>
    <p><a href="/createOrganizationUser" th:href="@{/createOrganizationUser}" class="btn btn-primary">Vytvořit nový účet
        v organizaci</a>
    </p>
    <h2>Přehled</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Uživatelské jméno</th>
                <th>Jméno</th>
                <th>Přijmení</th>
                <th>Role</th>
                <th>Je zablokován?</th>
                <th>Možnosti</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userInfo :${userInfos}">
                <td><p th:text="${userInfo.user.login}"></p></td>
                <td><p th:text="${userInfo.name}"></p></td>
                <td><p th:text="${userInfo.surname}"></p></td>
                <td><p th:text="${userInfo.user.right.description}"></p></td>
                <td><p th:if="${userInfo.user.enabled}">Ne.</p>
                    <p th:if="${!userInfo.user.enabled}">Ano.</p></td>
                <td>
                    <div th:if="${#authentication.name.equals(userInfo.user.login)==false}"><p
                            th:if="${userInfo.user.enabled}"><a href="/disableOrganizationUser"
                                                                th:href="@{/disableOrganizationUser(userId=${userInfo.user.id})}"
                                                                class="btn btn-danger">Zablokovat</a>
                    </p>
                        <p th:if="${!userInfo.user.enabled}"><a href="/enableOrganizationUser"
                                                                th:href="@{/enableOrganizationUser(userId=${userInfo.user.id})}"
                                                                class="btn btn-success" id="unblockUser">Odblokovat</a>
                        </p>
                        <p><a href="/changeOrganizationUserInfo"
                              th:href="@{/changeOrganizationUserInfo(userId=${userInfo.user.id})}"
                              class="btn btn-primary">Změnit
                            údaje uživatele</a></p>
                        <p><a href="/resetOrganizationUserPassword"
                              th:href="@{/resetOrganizationUserPassword(userId=${userInfo.user.id})}"
                              class="btn btn-info">Resetovat
                            heslo uživatele</a></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <th:block th:each="page:${pages}">
            <li th:if="${page==currentPage}" class="page-item active">
                <a class=" page-link"
                   th:href="@{/showOrganizationUsers(name=${name},surname=${surname},currentPage=${page})}"
                   href="/showOrganizationUsers" th:text="${page+1}">1</a>
            </li>
            <li th:if="${page!=currentPage}" class="page-item">
                <a th:if="page!=currentPage" class="page-link"
                   th:href="@{/showOrganizationUsers(name=${name},surname=${surname},currentPage=${page})}"
                   href="/showOrganizationUsers" th:text="${page+1}">1</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>