<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Skladová evidence organizace</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Skladová evidence organizace</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form class="row row-cols-auto align-items-center mb-3" action="/showOrganizationProtectiveEquipments"
          th:action="@{/showOrganizationProtectiveEquipments}"
          method="get">
        <fieldset class="form-group">
            <legend>Vyhledat:</legend>
            <label for="protectiveEquipmentName" class="col-form-label">Název (ponechte prázdný, pokud chcete zobrazit
                vše): </label>
            <input type="text" placeholder="Zadejte název ochranné pomůcky, kterou chcete najít." class="form-control"
                   name="protectiveEquipmentName" id="protectiveEquipmentName" th:value="${protectiveEquipmentName}"
                   maxlength="50"/>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" id="searchOrganizationProtectiveEquipments" class="btn btn-primary" value="Vyhledat"
                   title="Vyhledá ochranné pomůcky podle zadaného názvu. Nebo zobrazí vše, pokud není název vyplněn."/>
        </fieldset>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Název</th>
                <th>Popis</th>
                <th>Množství (v ks)</th>
                <th>Možnosti</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="protectiveEquipmentStatus :${protectiveEquipmentStatuses}">
                <td><p th:text="${protectiveEquipmentStatus.protectiveEquipment.name}"></p></td>
                <td><p th:text="${protectiveEquipmentStatus.protectiveEquipment.description}"></p></td>
                <td><p th:text="${protectiveEquipmentStatus.quantity}"></p></td>
                <td><p sec:authorize="hasRole('ROLE_OrganizationAdmin')"><a
                        href="/changeOrganizationProtectiveEquipmentAmount"
                        th:href="@{/changeOrganizationProtectiveEquipmentAmount(protectiveEquipmentStatusId=${protectiveEquipmentStatus.id})}"
                        class="btn btn-primary">Změnit
                    množství</a></p>
                    <p th:if="${protectiveEquipmentStatus.quantity>0}"><a href="/useOrganizationProtectiveEquipments"
                                                                          th:href="@{/useOrganizationProtectiveEquipments(protectiveEquipmentStatusId=${protectiveEquipmentStatus.id})}"
                                                                          class="btn btn-primary">Vyskladnit</a>
                    </p>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <th:block th:each="page:${pages}">
            <li th:if="${page==currentPage}" class="page-item active">
                <a class=" page-link"
                   th:href="@{/showOrganizationProtectiveEquipments(protectiveEquipmentName=${protectiveEquipmentName},currentPage=${page})}"
                   href="/showOrganizationProtectiveEquipments" th:text="${page+1}">1</a>
            </li>
            <li th:if="${page!=currentPage}" class="page-item">
                <a th:if="page!=currentPage" class="page-link"
                   th:href="@{/showOrganizationProtectiveEquipments(protectiveEquipmentName=${protectiveEquipmentName},currentPage=${page})}"
                   href="/showOrganizationProtectiveEquipments" th:text="${page+1}">1</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>