<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${organization.name}">Organizace</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1 th:text="${organization.name}">Organizace</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Přehled</h2>
    <p>Název: <span th:text="${organization.name}"></span></p>
    <p>Ulice: <span th:text="${organization.street}"></span></p>
    <p>Město: <span th:text="${organization.city.name}"></span></p>
    <p>PSČ: <span th:text="${organization.city.psc}"></span></p>
    <div sec:authorize="hasRole('ROLE_OrganizationAdmin')">
        <h2>Možnosti</h2>
        <p><a href="/changeOrganization"
              th:href="@{/changeOrganization}" class="btn btn-primary">Změnit údaje organizace</a></p>
    </div>
</div>
</body>
</html>