<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Detailní zobrazení žádosti</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Detailní zobrazení žádosti</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Přehled</h2>
    <p>Odesílatel: <span th:text="${userInfo.name+' '+userInfo.surname}"></span></p>
    <p sec:authorize="hasRole('ROLE_RegionAdmin')">Login odesílatele: <span
            th:text="${protectiveEquipmentRequest.appUser.login}"></span></p>
    <p>Zpráva: <span th:text="${protectiveEquipmentRequest.message}"></span></p>
    <p th:if="${protectiveEquipmentRequest.regionMessage!=null&&!protectiveEquipmentRequest.regionMessage.isBlank()}">
        Odpověď kraje: <span th:text="${protectiveEquipmentRequest.regionMessage}"></span></p>
    <p>Stav: <span th:text="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.name}"></span></p>
    <h2>Ochranné pomůcky žádosti</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Název</th>
                <th>Množství</th>
                <th>Schválené množství</th>
                <th:block th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==2}">
                    <th>Množství kraje</th>
                    <th>Množství kraje po odeslání ochranných pomůcek v celkovém množství</th>
                    <th> Množství kraje po odeslání schváleného množství ochranných pomůcek</th>
                    <th>Stačí množství kraje pro celkové schválení?</th>
                    <th>Stačí množství kraje pro vybrané schválení?</th>
                    <th>Možnosti</th>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requestProtectiveEquipment :${requestProtectiveEquipments}">
                <td><p th:text="${requestProtectiveEquipment.protectiveEquipment.name}"></p></td>
                <td><p th:text="${requestProtectiveEquipment.quantity}"></p></td>
                <td><p th:text="${requestProtectiveEquipment.approvedQuantity}"></p>
                </td>
                <th:block th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==2}">
                    <td><p th:text="${regionProtectionEquipmentQuantities.get(requestProtectiveEquipment.id)}"></p>
                    <td>
                        <p th:text="${regionProtectionEquipmentQuantities.get(requestProtectiveEquipment.id)-requestProtectiveEquipment.quantity}"></p>
                    </td>
                    <td>
                        <p th:text="${regionProtectionEquipmentQuantities.get(requestProtectiveEquipment.id)-requestProtectiveEquipment.approvedQuantity}"></p>
                    </td>
                    <td>
                        <p
                                th:if="${(regionProtectionEquipmentQuantities.get(requestProtectiveEquipment.id)-requestProtectiveEquipment.quantity)<0}">
                            Ne.</p>
                        <p th:if="${(regionProtectionEquipmentQuantities.get(requestProtectiveEquipment.id)-requestProtectiveEquipment.quantity)>-1}">
                            Ano</p>
                    </td>
                    <td>
                        <p
                                th:if="${(regionProtectionEquipmentQuantities.get(requestProtectiveEquipment.id)-requestProtectiveEquipment.approvedQuantity)<0}">
                            Ne.</p>
                        <p th:if="${(regionProtectionEquipmentQuantities.get(requestProtectiveEquipment.id)-requestProtectiveEquipment.approvedQuantity)>-1}">
                            Ano</p>
                    </td>
                    <td><p><a href="/changeRequestProtectiveEquipmentApprovedQuantity"
                              th:href="@{/changeRequestProtectiveEquipmentApprovedQuantity(requestProtectiveEquipmentId=${requestProtectiveEquipment.id})}"
                              class="btn btn-primary">Změnit
                        schválené množství</a></p></td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==2}">
        <h2>Vyřízení žádosti</h2>
        <p><a class="btn btn-primary" href="/answerProtectiveEquipmentRequest"
              th:href="@{/answerProtectiveEquipmentRequest(protectiveEquipmentRequestId=${protectiveEquipmentRequest.id},hasEnoughProtectiveEquipments=${hasEnoughProtectiveEquipments})}">Vyřídit</a>
        </p>
    </div>
</div>
</body>
</html>