<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kraje</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Kraje</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form class="row row-cols-auto align-items-center mb-3" action="/showRegions"
          th:action="@{/showRegions}"
          method="get">
        <fieldset class="form-group">
            <legend>Vyhledat:</legend>
            <label for="name" class="col-form-label">Název (ponechte prázdný, pokud chcete zobrazit
                vše): </label>
            <input type="text" placeholder="Zadejte název kraje nebo hlavního města, který chcete najít."
                   class="form-text form-control"
                   name="name" id="name" th:value="${name}" maxlength="100"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="searchSelection" class="col-form-label mt-lg-5 mt-md-5">Vyhledat podle:</label>
            <select class="form-select" name="searchSelection" id="searchSelection">
                <option value="1" th:selected="${searchSelection==1}">Názvu kraje</option>
                <option value="2" th:selected="${searchSelection==2}">Názvu hlavního města</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" id="searchRegions" class="btn btn-primary" value="Vyhledat"
                   title="Vyhledá kraje podle zadaného názvu. Pokud je název prázdný, zobrazí vše."/>
        </fieldset>
    </form>
    <h2>Možnosti</h2>
    <a href="/createRegion" th:href="@{/createRegion}" class="btn btn-primary mb-3">Přidat kraj</a>
    <h2>Přehled</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Název</th>
                <th>Hlavní město</th>
                <th>Možnosti</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="region :${regions}">
                <td><p><a href="/showDetailedRegion" th:href="@{/showDetailedRegion(regionId=${region.id})}"
                          th:text="${region.name}" title="Kliknutím zobrazíte podrobné informace daného kraje."></a></p>
                </td>
                <td><p th:text="${region.city.name}"></p></td>
                <td><p><a href="/changeOtherRegion"
                          th:href="@{/changeOtherRegion(regionId=${region.id})}" class="btn btn-primary">Změnit</a></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <th:block th:each="page:${pages}">
            <li th:if="${page==currentPage}" class="page-item active">
                <a class=" page-link"
                   th:href="@{/showRegions(name=${name},currentPage=${page},searchSelection=${searchSelection})}"
                   href="/showRegions" th:text="${page+1}">1</a>
            </li>
            <li th:if="${page!=currentPage}" class="page-item">
                <a th:if="page!=currentPage" class="page-link"
                   th:href="@{/showRegions(name=${name},currentPage=${page},searchSelection=${searchSelection})}"
                   href="/showRegions" th:text="${page+1}">1</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>