<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detailní zobrazení dodávky ochranných pomůcek</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Detailní zobrazení dodávky ochranných pomůcek</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Přehled</h2>
    <p>Odesílatel: <span th:text="${protectiveEquipmentTransfer.region.name}"></span></p>
    <p>Příjemce: <span th:text="${protectiveEquipmentTransfer.organization.name}"></span></p>
    <p>Stav: <span th:text="${protectiveEquipmentTransfer.protectiveEquipmentTransferStatus.name}"></span></p>
    <h2>Ochranné pomůcky dodávky</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Název</th>
                <th>Množství</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transferProtectiveEquipment :${transferProtectiveEquipments}">
                <td><p th:text="${transferProtectiveEquipment.protectiveEquipment.name}"></p></td>
                <td><p th:text="${transferProtectiveEquipment.quantity}"></p></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${protectiveEquipmentTransfer.protectiveEquipmentTransferStatus.id==1}">
        <h2>Odeslání dodávky</h2>
        <p><a class="btn btn-primary" href="/answerProtectiveEquipmentRequest"
              th:href="@{/sendRegionProtectiveEquipmentTransfer(protectiveEquipmentTransferId=${protectiveEquipmentTransfer.id})}">Odeslat</a>
        </p>
    </div>
</div>
</body>
</html>