<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detailní zobrazení žádosti</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Detailní zobrazení žádosti</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Přehled</h2>
    <p th:inline="text">Odesílatel: [[${protectiveEquipmentRequest.appUser.login}]]</p>
    <p th:inline="text">Zpráva: [[${protectiveEquipmentRequest.message}]]</p>
    <p th:inline="text">Zpráva kraje: [[${protectiveEquipmentRequest.regionMessage}]]</p>
    <p th:inline="text">Stav: [[${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.name}]]</p>
    <h2>Ochranné pomůcky žádosti</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Název</th>
                <th>Množství</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requestProtectiveEquipment :${requestProtectiveEquipments}">
                <td><p th:text="${requestProtectiveEquipment.protectiveEquipment.name}"></p></td>
                <td><p th:text="${requestProtectiveEquipment.quantity}"></p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>