<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Podrobné informace účtu</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Podrobné informace účtu</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Informace o účtu</h2>
    <p>Uživatelské jméno: <span th:text="${userInfo.user.login}"></span></p>
    <p>Jméno: <span th:text="${userInfo.name}"></span></p>
    <p>Přijmení: <span th:text="${userInfo.surname}"></span></p>
    <p>Oprávnění: <span th:text="${userInfo.user.right.description}"></span></p>
    <p th:if="${userInfo.user.region!=null}">Kraj: <span th:text="${userInfo.user.region.name}"></span></p>
    <p th:if="${userInfo.user.organization!=null}">Organizace: <span
            th:text="${userInfo.user.organization.name}"></span></p>
    <p>Je blokován: <span th:if="${userInfo.user.enabled}">Ne.</span>
        <span th:if="${!userInfo.user.enabled}">Ano.</span>
    </p>
    <h2>Možnosti</h2>
    <p>
    <span th:if="${userInfo.user.enabled}" class="me-3"><a href="/disableUser"
                                                           th:href="@{/disableUser(userId=${userInfo.user.id})}"
                                                           class="btn btn-danger">Zablokovat</a>
    </span>
        <span th:if="${!userInfo.user.enabled}" class="me-3"><a id="unblockUser" href="/enableUser"
                                                                th:href="@{/enableUser(userId=${userInfo.user.id})}"
                                                                class="btn btn-success">Odblokovat</a>
    </span>
        <span class="me-3"><a href="/changeOtherUserInfo" th:href="@{/changeOtherUserInfo(userId=${userInfo.user.id})}"
                              class="btn btn-primary">Změnit
        údaje uživatele</a></span>
        <span class="me-3"><a href="/resetUserPassword" th:href="@{/resetUserPassword(userId=${userInfo.user.id})}"
                              class="btn btn-info lastButton">Resetovat
        heslo uživatele</a></span>
    </p>
</div>
</body>
</html>