<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detailní zobrazení dodávky ochranných pomůcek</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Detailní zobrazení dodávky ochranných pomůcek</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Přehled</h2>
    <p>Odesílatel: <span th:text="${protectiveEquipmentTransfer.region.name}"></span></p>
    <p>Příjemce: <span th:text="${protectiveEquipmentTransfer.organization.name}"></span></p>
    <p>Stav: <span th:text="${protectiveEquipmentTransfer.protectiveEquipmentTransferStatus.name}"></span></p>
    <h2>Ochranné pomůcky dodávky</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Název</th>
                <th>Množství</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transferProtectiveEquipment :${transferProtectiveEquipments}">
                <td><p th:text="${transferProtectiveEquipment.protectiveEquipment.name}"></p></td>
                <td><p th:text="${transferProtectiveEquipment.quantity}"></p></td>
            </tr>
            </tbody>
        </table>
    </div>
    <th:block th:if="${protectiveEquipmentTransfer.protectiveEquipmentTransferStatus.id==2}">
        <h2>Převzetí dodávky</h2>
        <form action="/receiveOrganizationProtectiveEquipmentTransfer"
              th:action="@{receiveOrganizationProtectiveEquipmentTransfer}" method="post">
            <fieldset class="form-group">
                <label for="billId" class="col-form-label">Číslo dokladu:</label>
                <input class="form-control" type="number" min="1" name="billId" id="billId" required="required"/>
                <input type="hidden" name="protectiveEquipmentTransferId" th:value="${protectiveEquipmentTransfer.id}"/>
            </fieldset>
            <fieldset>
                <input type="submit" class="btn btn-primary mt-3 mb-3" value="Převzít"/>
            </fieldset>
        </form>
    </th:block>
</div>
</body>
</html>