<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${region.name}">Kraj</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1 th:text="${region.name}">Kraj</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Přehled</h2>
    <p>Název: <span th:text="${region.name}"></span></p>
    <p>Ulice úřadu: <span th:text="${region.street}"></span></p>
    <p>Hlavní město kraje: <span th:text="${region.city.name}"></span></p>
    <p>Psč úřadu: <span th:text="${region.city.psc}"></span></p>
    <div sec:authorize="hasRole('ROLE_RegionAdmin')">
        <h2>Možnosti</h2>
        <p><a href="/changeRegion"
              th:href="@{/changeRegion}" class="btn btn-primary">Změnit údaje kraje</a></p>
    </div>
</div>
</body>
</html>