<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Žádosti organizace</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Žádosti organizace</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form class="row row-cols-auto align-items-center mb-3" action="/showOrganizationProtectiveEquipmentRequests"
          th:action="@{/showOrganizationProtectiveEquipmentRequests}"
          method="get">
        <fieldset class="form-group">
            <legend>Vyhledat podle stavu:</legend>
            <label for="protectiveEquipmentRequestStatusId" class="col-form-label">Stav žádosti:</label>
            <select class="form-select" name="protectiveEquipmentRequestStatusId"
                    id="protectiveEquipmentRequestStatusId">
                <option value="0">Vše</option>
                <option th:each="protectiveEquipmentRequestStatus:${protectiveEquipmentRequestStatuses}"
                        th:value="${protectiveEquipmentRequestStatus.id}"
                        th:text="${protectiveEquipmentRequestStatus.name}"
                        th:selected="${protectiveEquipmentRequestStatusId==protectiveEquipmentRequestStatus.id}"></option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" id="searchOrganizationProtectiveEquipmentRequests" class="btn btn-primary"
                   value="Vyhledat"/>
        </fieldset>
    </form>
    <h2>Přehled</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>Autor</th>
                <th>Stav</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="protectiveEquipmentRequest :${protectiveEquipmentRequests}">
                <td><p><a th:if="${#authentication.name.equals(protectiveEquipmentRequest.appUser.login)==false}"
                          href="/showDetailedOrganizationOtherProtectiveEquipmentRequest"
                          th:href="@{/showDetailedOrganizationOtherProtectiveEquipmentRequest(protectiveEquipmentRequestId=${protectiveEquipmentRequest.id})}"><span
                        th:text="${protectiveEquipmentRequest.id}"></span></a>
                    <a th:if="${#authentication.name.equals(protectiveEquipmentRequest.appUser.login)==true}"
                       href="/showDetailedOrganizationProtectiveEquipmentRequest"
                       th:href="@{/showDetailedOrganizationProtectiveEquipmentRequest(protectiveEquipmentRequestId=${protectiveEquipmentRequest.id})}"><span
                            th:text="${protectiveEquipmentRequest.id}"></span></a>
                </p></td>
                <td><p th:text="${protectiveEquipmentRequest.appUser.login}"></p></td>
                <td><p th:text="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.name}"></p></td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <th:block th:each="page:${pages}">
            <li th:if="${page==currentPage}" class="page-item active">
                <a class=" page-link"
                   th:href="@{/showOrganizationProtectiveEquipmentRequests(currentPage=${page},protectiveEquipmentRequestStatusId=${protectiveEquipmentRequestStatusId})}"
                   href="/showRegionProtectiveEquipmentRequests" th:text="${page+1}">1</a>
            </li>
            <li th:if="${page!=currentPage}" class="page-item">
                <a th:if="page!=currentPage" class="page-link"
                   th:href="@{/showOrganizationProtectiveEquipmentRequests(currentPage=${page},protectiveEquipmentRequestStatusId=${protectiveEquipmentRequestStatusId})}"
                   href="/showRegionProtectiveEquipmentRequests" th:text="${page+1}">1</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>