<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Historie změny stavu skladu</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Historie změny stavu skladu</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form class="row row-cols-auto align-items-center mb-3" action="/showRegionProtectiveEquipmentStatusHistory"
          th:action="@{/showOrganizationProtectiveEquipmentStatusHistory}"
          method="get">
        <fieldset class="form-group">
            <legend>Vyhledat podle typu:</legend>
            <label for="protectiveEquipmentRequestStatusChangeEventTypeId" class="col-form-label">Typ:</label>
            <select class="form-select" name="protectiveEquipmentRequestStatusChangeEventTypeId"
                    id="protectiveEquipmentRequestStatusChangeEventTypeId">
                <option value="0">Vše</option>
                <option th:each="protectiveEquipmentStatusChangeEventType:${protectiveEquipmentStatusChangeEventTypes}"
                        th:value="${protectiveEquipmentStatusChangeEventType.id}"
                        th:text="${protectiveEquipmentStatusChangeEventType.name}"
                        th:selected="${protectiveEquipmentRequestStatusChangeEventTypeId==protectiveEquipmentStatusChangeEventType.id}"></option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" id="searchOrganizationProtectiveEquipmentStatusHistory" class="btn btn-primary"
                   value="Vyhledat"/>
        </fieldset>
    </form>
    <h2>Možnosti</h2>
    <a class="btn btn-primary mb-3" href="/exportOrganizationProtectiveEquipmentStatusChangeEventsForm"
       th:href="@{/exportOrganizationProtectiveEquipmentStatusChangeEventsForm}"
       title="Otevře formulář pro exportování historie do souboru formátu csv.">Exportovat</a>
    <h2>Přehled</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Datum</th>
                <th>Čas</th>
                <th>Název</th>
                <th>Odůvodnění</th>
                <th sec:authorize="hasAnyRole('ROLE_RegionAdmin')">Uživatel provádějící akci</th>
                <th>Číslo dokladu</th>
                <th>Původní stav</th>
                <th>Změněné množství</th>
                <th>Nový stav</th>
                <th>Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="protectiveEquipmentStatusChangeEvent :${protectiveEquipmentStatusChangeEvents}">
                <td>
                    <p th:text="${#dates.format(protectiveEquipmentStatusChangeEvent.timeOfEvent,'dd.MM.yyyy')}"></p>
                </td>
                <td>
                    <p th:text="${#dates.format(protectiveEquipmentStatusChangeEvent.timeOfEvent,'HH:mm:ss')}"></p>
                </td>
                <td>
                    <p th:text="${protectiveEquipmentStatusChangeEvent.protectiveEquipmentStatus.protectiveEquipment.name}"></p>
                </td>
                <td><p th:text="${protectiveEquipmentStatusChangeEvent.comment}"></p></td>
                <td sec:authorize="hasAnyRole('ROLE_RegionAdmin')"><p
                        th:text="${protectiveEquipmentStatusChangeEvent.appUser.login}"></p></td>
                <td><p th:if="${protectiveEquipmentStatusChangeEvent.billId!=null}"
                       th:text="${protectiveEquipmentStatusChangeEvent.billId}">
                    <p th:if="${protectiveEquipmentStatusChangeEvent.billId==null}">Nemá doklad.</p>
                </td>
                <td><p th:text="${protectiveEquipmentStatusChangeEvent.previousQuantity}"></p></td>
                <td>
                    <p th:text="${protectiveEquipmentStatusChangeEvent.getNewQuantity()-protectiveEquipmentStatusChangeEvent.previousQuantity}"></p>
                </td>
                <td><p th:text="${protectiveEquipmentStatusChangeEvent.newQuantity}"></p></td>
                <td>
                    <p th:text="${protectiveEquipmentStatusChangeEvent.protectiveEquipmentStatusChangeEventType.name}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <th:block th:each="page:${pages}">
            <li th:if="${page==currentPage}" class="page-item active">
                <a class=" page-link"
                   th:href="@{/showOrganizationProtectiveEquipmentStatusHistory(currentPage=${page},protectiveEquipmentRequestStatusChangeEventTypeId=${protectiveEquipmentRequestStatusChangeEventTypeId})}"
                   href="/showOrganizationProtectiveEquipmentStatusHistory" th:text="${page+1}">1</a>
            </li>
            <li th:if="${page!=currentPage}" class="page-item">
                <a th:if="page!=currentPage" class="page-link"
                   th:href="@{/showOrganizationProtectiveEquipmentStatusHistory(currentPage=${page},protectiveEquipmentRequestStatusChangeEventTypeId=${protectiveEquipmentRequestStatusChangeEventTypeId})}"
                   href="/showOrganizationProtectiveEquipmentStatusHistory" th:text="${page+1}">1</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>