<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detailní zobrazení žádosti</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Detailní zobrazení žádosti</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Přehled</h2>
    <p th:inline="text">Odesílatel: [[${protectiveEquipmentRequest.appUser.login}]]</p>
    <p th:inline="text">Zpráva: [[${protectiveEquipmentRequest.message}]]</p>
    <p th:inline="text">Zpráva kraje: [[${protectiveEquipmentRequest.regionMessage}]]</p>
    <p th:inline="text">Stav: [[${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.name}]]</p>
    <div th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==1}">
        <h2>Možnosti</h2>
        <p>
    <span class="me-3"
          th:if="${protectiveEquipmentRequest.message!=null&&!protectiveEquipmentRequest.message.isBlank()&&requestProtectiveEquipments!=null&&!requestProtectiveEquipments.isEmpty()}">
            <a class="btn btn-primary" id="sendRequest" href="/sendProtectiveEquipmentRequest"
               th:href="@{/sendProtectiveEquipmentRequest(protectiveEquipmentRequestId=${protectiveEquipmentRequest.id})}"
               title="Odešle žádost kraji.">Odeslat
                žádost
            </a></span>
            <span class="me-3"
                  th:if="${protectiveEquipmentRequest.message==null||protectiveEquipmentRequest.message.isBlank()||requestProtectiveEquipments==null||requestProtectiveEquipments.isEmpty()}"
                  title="Před odesláním musíte k žádosti napsat zprávu a vybrat alspoň jednu ochrannou pomůcku.">
            <button type="button" class="btn btn-primary" disabled="disabled">Odeslat
                žádost
            </button>
        </span>
            <span class="me-3"><a class="btn btn-info" href="/writeProtectiveEquipmentRequestMessage"
                                  th:href="@{/writeProtectiveEquipmentRequestMessage(protectiveEquipmentRequestId=${protectiveEquipmentRequest.id})}"><span
                    th:if="${protectiveEquipmentRequest.message==null||protectiveEquipmentRequest.message.isBlank()}"
                    title="Otevře formulář pro napsání zprávy k žádosti.">Napsat zprávu</span>
            <span th:if="${protectiveEquipmentRequest.message!=null&&!protectiveEquipmentRequest.message.isBlank()}"
                  title="Otevřře formulář pro změnu zprávy v žádosti.">Změnit zprávu</span></a>
        </span>
            <span class="me-3" th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==1}"><a
                    class="btn btn-danger lastButton"
                    href="/deleteProtectiveEquipmentRequest"
                    th:href="@{/deleteProtectiveEquipmentRequest(protectiveEquipmentRequestId=${protectiveEquipmentRequest.id})}"
                    title="Nevratně smaže tuto žádost." id="deleteRequest">Smazat
            žádost</a></span>
        </p>
    </div>
    <h2>Ochranné pomůcky žádosti</h2>
    <a th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==1}"
       href="/addRequestProtectiveEquipment"
       th:href="@{/addRequestProtectiveEquipment(protectiveEquipmentRequestId=${protectiveEquipmentRequest.id})}"
       class="btn btn-primary mb-3" title="Otevře výběr ochranných pomůcek k žádosti.">Přidat ochrannou pomůcku</a>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Název</th>
                <th title="Celkové množství žádaných ochranných pomůcek.">Množství</th>
                <th th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==3}"
                    title="Schválené množství ochranných pomůcek krajem.">Schválené množství
                </th>
                <th th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==1}">Možnosti</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requestProtectiveEquipment :${requestProtectiveEquipments}">
                <td><p th:text="${requestProtectiveEquipment.protectiveEquipment.name}"></p></td>
                <td><p th:text="${requestProtectiveEquipment.quantity}"></p></td>
                <td th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==3}"><p
                        th:text="${requestProtectiveEquipment.approvedQuantity}"></p></td>
                <td th:if="${protectiveEquipmentRequest.protectiveEquipmentRequestStatus.id==1}"><p><a
                        href="/changeRequestProtectiveEquipmentQuantity"
                        th:href="@{/changeRequestProtectiveEquipmentQuantity(requestProtectiveEquipmentId=${requestProtectiveEquipment.id})}"
                        title="Otevře formulář změny množství ochranné pomůcky v žádosti.">Změnit
                    množství</a></p>
                    <p><a href="/removeRequestProtectiveEquipmentFromRequest"
                          th:href="@{/removeRequestProtectiveEquipmentFromRequest(requestProtectiveEquipmentId=${requestProtectiveEquipment.id})}"
                          title="Odebere ochrannou pomůcku ze žádosti.">Odstranit</a>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>