<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${organization.name}">Organizace</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1 th:text="${organization.name}">Organizace</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Přehled</h2>
    <p>Název: <span th:text="${organization.name}"></span></p>
    <p>Ulice: <span th:text="${organization.street}"></span></p>
    <p>Město: <span th:text="${organization.city.name}"></span></p>
    <p>PSČ: <span th:text="${organization.city.psc}"></span></p>
    <div sec:authorize="hasRole('ROLE_RegionAdmin')">
        <h2>Možnosti</h2>
        <th:block sec:authorize="hasAnyRole('ROLE_RegionAdmin')">
            <p>
            <span><a href="/changeRegionOrganization"
                     th:href="@{/changeRegionOrganization(organizationId=${organization.id})}"
                     class="btn btn-primary me-3">Změnit
            informace organizace</a></span>
                <span><a href="/showRegionOrganizationUsers"
                         th:href="@{/showRegionOrganizationUsers(organizationId=${organization.id})}"
                         class="btn btn-info lastButton">Zobrazit
                uživatele organizace</a></span>
            </p>
        </th:block>
    </div>
</div>
</body>
</html>