<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Účet</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Účet</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <h2>Informace o účtu</h2>
    <p>Uživatelské jméno: <span th:text="${userInfo.user.login}"></span></p>
    <p>Jméno: <span th:text="${userInfo.name}"></span></p>
    <p>Přijmení: <span th:text="${userInfo.surname}"></span></p>
    <p>Oprávnění: <span th:text="${userInfo.user.right.description}"></span></p>
    <h2>Možnosti</h2>
    <p>
    <p><a sec:authorize="hasAnyRole('ROLE_GlobalAdmin','ROLE_RegionAdmin','ROLE_OrganizationAdmin')"
          href="/changeUserInfo"
          th:href="@{/changeUserInfo}" class="btn btn-primary">Změnit údaje účtu</a></p>
    <p><a sec:authorize="hasAnyRole('ROLE_GlobalAdmin','ROLE_RegionAdmin','ROLE_OrganizationAdmin')"
          href="/changeUserLogin"
          th:href="@{/changeUserLogin}" class="btn btn-primary">Změnit uživatelské jméno</a></p>
    <p><a href="/changeUserPassword"
          th:href="@{/changeUserPassword}" class="btn btn-primary">Změnit heslo</a></p>
</div>
</body>
</html>