<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodávky ochranných pomůcek organizaci</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Dodávky ochranných pomůcek organizaci</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form class="row row-cols-auto align-items-center mb-3" action="/showOrganizationProtectiveEquipmentTransfers"
          th:action="@{/showOrganizationProtectiveEquipmentTransfers}"
          method="get">
        <fieldset class="form-group">
            <legend>Vyhledat podle stavu:</legend>
            <label for="protectiveEquipmentTransferStatusId" class="col-form-label">Stav žádosti:</label>
            <select class="form-select" name="protectiveEquipmentTransferStatusId"
                    id="protectiveEquipmentTransferStatusId">
                <option value="0">Vše</option>
                <option th:each="protectiveEquipmentTransferStatus:${protectiveEquipmentTransferStatuses}"
                        th:value="${protectiveEquipmentTransferStatus.id}"
                        th:text="${protectiveEquipmentTransferStatus.name}"
                        th:selected="${protectiveEquipmentTransferStatus.id==protectiveEquipmentTransferStatusId}"></option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" id="searchOrganizationProtectiveEquipmentRequests" class="btn btn-primary"
                   value="Vyhledat"/>
        </fieldset>
    </form>
    <h2>Přehled</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>Odesílatel (kraj)</th>
                <th>Typ</th>
                <th>Stav</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="protectiveEquipmentTransfer :${protectiveEquipmentTransfers}">
                <td><p><a href="/showOrganizationDetailedProtectiveEquipmentTransfer"
                          th:href="@{/showOrganizationDetailedProtectiveEquipmentTransfer(protectiveEquipmentTransferId=${protectiveEquipmentTransfer.id})}"
                          th:text="${protectiveEquipmentTransfer.id}"></a></p></td>
                <td><p th:text="${protectiveEquipmentTransfer.region.name}"></p></td>
                <td><p th:text="${protectiveEquipmentTransfer.protectiveEquipmentTransferType.name}"></p></td>
                <td><p th:if="${protectiveEquipmentTransfer.protectiveEquipmentTransferStatus.id!=2}"
                       th:text="${protectiveEquipmentTransfer.protectiveEquipmentTransferStatus.name}"></p>
                    <p th:if="${protectiveEquipmentTransfer.protectiveEquipmentTransferStatus.id==2}"
                       th:text="${protectiveEquipmentTransfer.protectiveEquipmentTransferStatus.name}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <th:block th:each="page:${pages}">
            <li th:if="${page==currentPage}" class="page-item active">
                <a class=" page-link"
                   th:href="@{/showOrganizationProtectiveEquipmentTransfers(currentPage=${page},protectiveEquipmentTransferStatusId=${protectiveEquipmentTransferStatusId})}"
                   href="/showOrganizationProtectiveEquipmentTransfers" th:text="${page+1}">1</a>
            </li>
            <li th:if="${page!=currentPage}" class="page-item">
                <a th:if="page!=currentPage" class="page-link"
                   th:href="@{/showOrganizationProtectiveEquipmentTransfers(currentPage=${page},protectiveEquipmentTransferStatusId=${protectiveEquipmentTransferStatusId})}"
                   href="/showOrganizationProtectiveEquipmentTransfers" th:text="${page+1}">1</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>