<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Organizace kraje</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Organizace kraje</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <div th:if="${success!=null}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p th:text="${success}">Výchozí úspěch.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form class="row row-cols-auto align-items-center mb-3" action="/showRegionOrganizations"
          th:action="@{/showRegionOrganizations}"
          method="get">
        <fieldset class="form-group">
            <legend>Vyhledat:</legend>
            <label for="name" class="col-form-label">Název (ponechte prázdný, pokud chcete zobrazit
                vše): </label>
            <input type="text" placeholder="Zadejte název organizace nebo jejího města, který chcete najít."
                   class="form-text form-control"
                   name="name" id="name" th:value="${name}" maxlength="100"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="searchSelection" class="col-form-label mt-lg-5 mt-md-5">Vyhledat podle:</label>
            <select class="form-select" name="searchSelection" id="searchSelection">
                <option value="1" th:selected="${searchSelection==1}">Názvu organizace</option>
                <option value="2" th:selected="${searchSelection==2}">Názvu města organizace</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary" id="searchRegionOrganizations" value="Vyhledat"/>
        </fieldset>
    </form>
    <h2>Možnosti</h2>
    <a href="/createOrganization" th:href="@{/createOrganization}" class="btn btn-primary mb-3">Přidat organizaci</a>
    <h2>Přehled</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Název</th>
                <th>Město</th>
                <th sec:authorize="hasAnyRole('ROLE_RegionAdmin')">Možnosti</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="organization :${organizations}">
                <td><p><a href="/showDetailedOrganizationInfo"
                          th:href="@{/showDetailedOrganizationInfo(organizationId=${organization.id})}"
                          th:text="${organization.name}" title="Kliknutím zobrazíte podrobné informace organizace.">Název</a>
                </p></td>
                <td><p th:text="${organization.city.name}"></p></td>
                <td sec:authorize="hasAnyRole('ROLE_RegionAdmin')"><p><a href="/changeRegionOrganization"
                                                                         th:href="@{/changeRegionOrganization(organizationId=${organization.id})}"
                                                                         class="btn btn-primary">Změnit
                    informace organizace</a></p>
                    <p><a href="/showRegionOrganizationUsers"
                          th:href="@{/showRegionOrganizationUsers(organizationId=${organization.id})}"
                          class="btn btn-info">Zobrazit
                        uživatele organizace</a></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <th:block th:each="page:${pages}">
            <li th:if="${page==currentPage}" class="page-item active">
                <a class=" page-link"
                   th:href="@{/showRegionOrganizations(name=${name},currentPage=${page},searchSelection=${searchSelection})}"
                   href="/showRegionOrganizations" th:text="${page+1}">1</a>
            </li>
            <li th:if="${page!=currentPage}" class="page-item">
                <a th:if="page!=currentPage" class="page-link"
                   th:href="@{/showRegionOrganizations(name=${name},currentPage=${page},searchSelection=${searchSelection})}"
                   href="/showRegionOrganizations" th:text="${page+1}">1</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>