<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vyskladnění ochranné pomůcky</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Vyskladnění ochranné pomůcky</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveUsedOrganizationProtectiveEquipments" th:action="@{/saveUsedOrganizationProtectiveEquipments}"
          th:object="${protectiveEquipmentStatusChangeEvent}" method="post">
        <fieldset class="form-group">
            <p>Název: <span th:text="${protectiveEquipmentStatus.protectiveEquipment.name}"></span></p>
            <p>Původní množství: <span id="oldAmount" th:text="${protectiveEquipmentStatus.quantity}"></span></p>
            <p th:inline="text" id="newAmount" class="newAmount">Nové množství:
                [[${protectiveEquipmentStatus.quantity}]]</p>
            <noscript><p>Nelze zde vypočítat a zobrazit aktuální nové množství ochranných pomůcek, jelikož máta vypnutý
                Javascript. Pro výpočet aktuálního novéh množství si ho prosím zapněte.</p></noscript>
            <label for="amountUsed" class="col-form-label">Vyskladněné množství: </label>
            <input type="number" min="1" th:max="${protectiveEquipmentStatus.quantity}" class="form-control"
                   name="amountUsed" id="amountUsed"
                   required="required"/>
            <label for="billId" class="col-form-label">Číslo dokladu:</label>
            <input class="form-control" type="number" min="1" name="billId" id="billId" required="required"/>
            <label for="comment" class="col-form-label">Účel vyskladnění:</label>
            <textarea th:field="*{comment}" name="comment" id="comment" required="required" class="form-control"
                      maxlength="500"></textarea>
            <p th:if="${#fields.hasErrors('comment')}" th:errorclass="error" th:errors="*{comment}"></p>
            <input type="hidden" name="protectiveEquipmentStatusId" id="protectiveEquipmentStatusId"
                   th:value="${protectiveEquipmentStatus.id}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Vyskladnit"/>
            <a href="/showOrganizationProtectiveEquipments" th:href="@{/showOrganizationProtectiveEquipments}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>