<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vyskladnění ochranné pomůcky</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Vyskladnění ochranné pomůcky</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveUsedRegionProtectiveEquipments" th:action="@{/saveUsedRegionProtectiveEquipments}"
          th:object="${protectiveEquipmentStatusChangeEvent}" method="post">
        <fieldset class="form-group">
            <p>Název: <span th:text="${protectiveEquipmentStatus.protectiveEquipment.name}"></span></p>
            <p>Původní množství: <span id="oldAmount" th:text="${protectiveEquipmentStatus.quantity}"></span></p>
            <p>Nové množství: <span id="newAmount" th:text="${protectiveEquipmentStatus.quantity}"></span></p>
            <noscript><p>Nelze zde vypočítat a zobrazit aktuální nové množství ochranných pomůcek, jelikož máta vypnutý
                Javascript. Pro výpočet aktuálního novéh množství si ho prosím zapněte.</p></noscript>
            <label for="amountUsed" class="col-form-label">Vyskladněné množství: </label>
            <input type="number" min="1" th:max="${protectiveEquipmentStatus.quantity}" class="form-control"
                   name="amountUsed" id="amountUsed"
                   required="required"/>
            <label for="billId" class="col-form-label">Číslo dokladu:</label>
            <input class="form-control" type="number" min="1" name="billId" id="billId" required="required"/>
            <label for="comment" class="col-form-label">Účel vyskladnění:</label>
            <textarea th:field="*{comment}" name="comment" id="comment" required="required" class="form-control"
                      maxlength="500"></textarea>
            <p th:if="${#fields.hasErrors('comment')}" th:errorclass="error" th:errors="*{comment}"></p>
            <input type="hidden" name="protectiveEquipmentStatusId" id="protectiveEquipmentStatusId"
                   th:value="${protectiveEquipmentStatus.id}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <label for="ownUse" class="me-1">Vlastní vyskladnění</label>
            <input type="radio" name="typeOfUsing" value="1" id="ownUse" class="form-check-input me-2"
                   required="required"/>
            <label for="sendToOrganization" class="me-1">Vyskladnit pro organizaci</label>
            <input type="radio" name="typeOfUsing" value="2" id="sendToOrganization" class="form-check-input me-2"
                   required="required"/>
            <label for="otherUse" class="me-1">Jiné vyskladnění</label>
            <input type="radio" name="typeOfUsing" value="3" id="otherUse" class="form-check-input"
                   required="required"/>
        </fieldset>
        <fieldset class="mt-3 mb-3" id="organizationChoice">
            <label for="organizationSelect" class="col-form-label">Výběr organizace: </label>
            <select class="form-select" name="organizationIdSelect" id="organizationSelect" required="required"
                    title="Vyberte si organizaci, které chcete vyskladnit vybrané položky.">
                <option th:each=" organization:${organizations}" th:value="${organization.id}"
                        th:text="${organization.name}"></option>
            </select>
        </fieldset>
        <noscript>
            <fieldset class="mt-3 mb-3">
                <label for="organizationSelect" class="col-form-label">Výběr organizace pro vyskladnění (vyberte pouze,
                    pokud jste si vybrali možnost vyskladnění pro organizaci výše): </label>
                <select class="form-select" name="organizationIdSelect" required="required"
                        title="Vyberte si organizaci, které chcete vyskladnit vybrané položky.">
                    <option th:each=" organization:${organizations}" th:value="${organization.id}"
                            th:text="${organization.name}"></option>
                </select>
            </fieldset>
        </noscript>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Vyskladnit"/>
            <a href="/showRegionProtectiveEquipments" th:href="@{/showRegionProtectiveEquipments}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>