<!DOCTYPE html>
<html lang="cz" layout:decorate="~{../layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Psaní zprávy žádosti</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Psaní zprávy žádosti</h1>
    <div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <p th:text="${error}">Výchozí chyba.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
    <form action="/saveProtectiveEquipmentRequestMessage"
          th:action="@{/saveProtectiveEquipmentRequestMessage}"
          th:object="${protectiveEquipmentRequest}" method="post">
        <fieldset class="form-group">
            <label for="message" class="col-form-label">Zpráva: </label>
            <textarea class="form-control" name="message" id="message" th:field="*{message}"
                      required="required" maxlength="500"></textarea>
            <p th:if="${#fields.hasErrors('message')}" th:errorclass="error" th:errors="*{message}"></p>
            <input type="hidden" name="id" id="id" th:field="*{id}"/>
        </fieldset>
        <fieldset class="form-group mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Uložit"/>
            <a href="/showRegionProtectiveEquipments"
               th:href="@{/showDetailedOrganizationProtectiveEquipmentRequest(protectiveEquipmentRequestId=${protectiveEquipmentRequest.id})}"
               class="btn btn-secondary">Storno</a>
        </fieldset>
    </form>
</div>
</body>
</html>