@charset "UTF-8";

h3 {
    clear: both
}

a:link {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: lightblue;
    text-decoration: underline;
}

nav {
    color: white;
    background-color: rgb(89, 179, 0);
}

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(40, 77, 0);
}

nav a:active, nav a:visited {
    text-decoration: none;
    color: white;
}

.hlavicka, .paticka {
    background-color: rgb(255, 255, 128);
    clear: both
}

header h1 a, header h1 a:link, header h1 a:hover, header h1 a:visited,
header h1 a:active {
    color: black;
    text-decoration: none;
}

.pictureOfItem, .itemDescription {
    float: left;
}

.error {
    color: red;
}

.shortInputWidth {
    max-width: 15em;
}

.mediumInputWidth {
    max-width: 25em;
}

#search-inline {
    margin-top: 5em;
}

#search-inline2 {
    margin-top: 5em;
}

#searchRegionUsers {
    margin-top: 5.3em;
}

#searchRegionOrganizations {
    margin-top: 5em;
}

#searchRegionProtectiveEquipments {
    margin-top: 5em;
}

#searchRegionProtectiveEquipmentRequests {
    margin-top: 5em;
}

#searchRegionProtectiveEquipmentTransfers {
    margin-top: 5em;
}

#searchRegionOrganizationUsers {
    margin-top: 5em;
}

#searchProtectiveEquipments {
    margin-top: 5em;
}

#searchRegions {
    margin-top: 5.3em;
}

#searchOrganizationUsers {
    margin-top: 5.3em;
}

#searchOrganizationProtectiveEquipments {
    margin-top: 5em;
}

#searchOrganizationProtectiveEquipmentStatusHistory {
    margin-top: 5em;
}

#searchOrganizationProtectiveEquipmentRequests {
    margin-top: 5em;
}

#organizationChoice {
    display: none;
}

#searchUsers {
    margin-top: 5.3em;
}