@charset "UTF-8";
/*Responsive design for device display.*/
@media all and (min-device-width: 361px) and (max-device-width: 700px) {
    #search-inline {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipments {
        margin-top: 1em;
    }

    #searchRegionUsers {
        margin-top: 2.3em;
    }

    #searchRegionOrganizations {
        margin-top: 2.3em;
    }

    #searchRegionProtectiveEquipmentRequests {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipmentTransfers {
        margin-top: 1em;
    }

    #searchRegionOrganizationUsers {
        margin-top: 2.3em;
    }

    #searchProtectiveEquipments {
        margin-top: 1em;
    }

    #searchRegions {
        margin-top: 2.3em;
    }

    #searchOrganizationUsers {
        margin-top: 2.3em;
    }

    #searchOrganizationProtectiveEquipments {
        margin-top: 1em;
    }

    #searchOrganizationProtectiveEquipmentStatusHistory {
        margin-top: 4.9em;
    }

    #searchOrganizationProtectiveEquipmentRequests {
        margin-top: 1em;
    }

    #deleteRequest {
        margin-top: 1em;
    }

    #searchSurname {
        margin-top: 1em;
    }

    #searchUsers {
        margin-top: 3.3em;
    }

    .lastButton {
        margin-top: 1em;
    }

}

@media all and (min-device-width: 701px) and (max-device-width: 850px) {
    #search-inline {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipments {
        margin-top: 5em;
    }

    #searchRegionUsers {
        margin-top: 2.3em;
    }

    #searchRegionOrganizations {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipmentRequests {
        margin-top: 5em;
    }

    #searchRegionProtectiveEquipmentTransfers {
        margin-top: 5em;
    }

    #searchRegionOrganizationUsers {
        margin-top: 2.3em;
    }

    #searchProtectiveEquipments {
        margin-top: 5em;
    }

    #searchRegions {
        margin-top: 1em;
    }

    #searchOrganizationUsers {
        margin-top: 2.3em;
    }

    #searchOrganizationProtectiveEquipments {
        margin-top: 5em;
    }

    #searchOrganizationProtectiveEquipmentStatusHistory {
        margin-top: 5em;
    }

    #searchOrganizationProtectiveEquipmentRequests {
        margin-top: 5em;
    }

    #searchSurname {
        margin-top: 1em;
    }

    #searchUsers {
        margin-top: 3.3em;
    }
}

@media all and (max-device-width: 360px) {
    #searchRegionUsers {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipments {
        margin-top: 1em;
    }

    #searchRegionOrganizations {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipmentRequests {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipmentTransfers {
        margin-top: 1em;
    }

    #searchRegionOrganizationUsers {
        margin-top: 1em;
    }

    #searchProtectiveEquipments {
        margin-top: 1em;
    }

    #searchRegions {
        margin-top: 2.3em;
    }

    #searchOrganizationUsers {
        margin-top: 1em;
    }

    #searchOrganizationProtectiveEquipments {
        margin-top: 1em;
    }

    #searchOrganizationProtectiveEquipmentStatusHistory {
        margin-top: 4.9em;
    }

    #searchOrganizationProtectiveEquipmentRequests {
        margin-top: 1em;
    }

    #deleteRequest {
        margin-top: 1em;
    }

    #searchSurname {
        margin-top: 1em;
    }

    #searchUsers {
        margin-top: 1em;
    }

    .lastButton {
        margin-top: 1em;
    }

    .beforeLastButton {
        margin-top: 1em;
    }
}

/*Responsive design for the window size.*/
@media all and (min-width: 361px) and (max-width: 700px) {
    #search-inline {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipments {
        margin-top: 1em;
    }

    #searchRegionUsers {
        margin-top: 2.3em;
    }

    #searchRegionOrganizations {
        margin-top: 2.3em;
    }

    #searchRegionProtectiveEquipmentRequests {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipmentTransfers {
        margin-top: 1em;
    }

    #searchRegionOrganizationUsers {
        margin-top: 2.3em;
    }

    #searchProtectiveEquipments {
        margin-top: 1em;
    }

    #searchRegions {
        margin-top: 2.3em;
    }

    #searchOrganizationUsers {
        margin-top: 2.3em;
    }

    #searchOrganizationProtectiveEquipments {
        margin-top: 1em;
    }

    #searchOrganizationProtectiveEquipmentStatusHistory {
        margin-top: 4.9em;
    }

    #searchOrganizationProtectiveEquipmentRequests {
        margin-top: 1em;
    }

    #deleteRequest {
        margin-top: 1em;
    }

    .beforeLastButton {
        margin-top: 1em;
    }
}

@media all and (min-width: 701px) and (max-width: 850px) {
    #search-inline {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipments {
        margin-top: 5em;
    }

    #searchRegionUsers {
        margin-top: 2.3em;
    }

    #searchRegionOrganizations {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipmentRequests {
        margin-top: 5em;
    }

    #searchRegionProtectiveEquipmentTransfers {
        margin-top: 5em;
    }

    #searchRegionOrganizationUsers {
        margin-top: 2.3em;
    }

    #searchProtectiveEquipments {
        margin-top: 5em;
    }

    #searchRegions {
        margin-top: 1em;
    }

    #searchOrganizationUsers {
        margin-top: 2.3em;
    }

    #searchOrganizationProtectiveEquipments {
        margin-top: 5em;
    }

    #searchOrganizationProtectiveEquipmentStatusHistory {
        margin-top: 5em;
    }

    #searchOrganizationProtectiveEquipmentRequests {
        margin-top: 5em;
    }

}

@media all and (max-width: 360px) {
    #searchRegionUsers {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipments {
        margin-top: 1em;
    }

    #searchRegionOrganizations {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipmentRequests {
        margin-top: 1em;
    }

    #searchRegionProtectiveEquipmentTransfers {
        margin-top: 1em;
    }

    #searchRegionOrganizationUsers {
        margin-top: 1em;
    }

    #searchProtectiveEquipments {
        margin-top: 1em;
    }

    #searchRegions {
        margin-top: 2.3em;
    }

    #searchOrganizationUsers {
        margin-top: 1em;
    }

    #searchOrganizationProtectiveEquipments {
        margin-top: 1em;
    }

    #searchOrganizationProtectiveEquipmentStatusHistory {
        margin-top: 4.9em;
    }

    #searchOrganizationProtectiveEquipmentRequests {
        margin-top: 1em;
    }

    #deleteRequest {
        margin-top: 1em;
    }

    .lastButton {
        margin-top: 1em;
    }
}